/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 janv. 2016, 10:08:03
    Author     : Thomas
*/
.question {
    font-size: large; /* Titres de 40 pixels */
    color:black;
}

.True{
    font-size: small; /* Titres de 40 pixels */
    color:green;
}

.False{
    font-size: small; /* Titres de 40 pixels */
    color:red;
}

#footer{
position:fixed;
bottom:0;
left:0;
height:100px;
background: black;
}

.h5{

    padding:0;
    margin:0;
    list-style:none;
    color : red;

}

//----- Tableau Résultats ----------
/*strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	 
	background: rgb(255,255,255);
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 25px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	font: 25px/1 Time New Roman;
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(rgb(225,173,100),rgb(230,195,130));
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: RGB(0,0,0);
	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	
}
th a{
	text-decoration: none;
	color : RGB(255,255,255);
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	font: 30px/1 Time New Roman;
}

td:first-child {
	box-shadow: inset 1px 0 0 black;
}	

td:last-child {
	border-right: 1px solid black;
	box-shadow: inset -1px 0 0 black;
}	

tr {
	background: rgb(255,255,255) url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}*/