/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 janv. 2016, 10:08:03
    Author     : Thomas
*/
.question {
    font-size: large; /* Titres de 40 pixels */
    color:black;
}

.True{
    font-size: small; /* Titres de 40 pixels */
    color:green;
}

.False{
    font-size: small; /* Titres de 40 pixels */
    color:red;
}

#footer{
position:fixed;
bottom:0;
left:0;
height:100px;
background: black;
}

.h5{

    padding:0;
    margin:0;
    list-style:none;
    color : red;

}